<!--
2017-09-08
jQuery Validate plugin requres the validated elements to have a name:
https://github.com/magento/magento2/blob/2.2.0-RC1.5/lib/web/jquery/jquery.validate.js#L487-L499
Stripe and its clones forbids us to assign the `name` attribute to the bank card form elements,
so I have implemented a patch to jQuery Validate plugin: it uses ID if the name is absent:
https://github.com/mage2pro/core/blob/2.11.27/Core/view/base/web/main.js#L43-L72
So, in our case the validated elements should have an ID or a name.
2019-09-28 `<fieldset>` is not compatible with `flex`: https://stackoverflow.com/a/28078942
-->
<div class='fieldset'>
	<div class='field required'>
		<div class='control'>
			<input
				class='input-text required-entry'
				data-bind="
					attr: {
						'data-container': getCode() + '-routing'
						,id: fid('routing')
						,title: $t('Routing Number')
					}
					,value: routing
					,valueUpdate: 'keyup'
				"
				data-validate='{digits: true, maxlength: 9, minlength: 9, required: true}'
				maxlength='9'
				type='text'
			>
		</div>
		<label class='label' data-bind="attr: {for: fid('routing')}" >
			<span><!-- ko df_i18n: "Routing Number"--><!-- /ko --></span>
		</label>
	</div>
	<div class='field required'>
		<div class='control'>
			<input
				class='input-text required-entry'
				data-bind="
					attr: {
						'data-container': getCode() + '-account'
						,id: fid('account')
						,title: $t('Account Number')
					}
					,value: account
					,valueUpdate: 'keyup'
				"
				data-validate='{digits: true, maxlength: 2, minlength: 17, required: true}'
				maxlength='17'
				type='text'
			>
		</div>
		<label class='label' data-bind="attr: {for: fid('account')}" >
			<span><!-- ko df_i18n: "Account Number"--><!-- /ko --></span>
		</label>
	</div>
</div>